[Unit]
Description=BLE Beacon scanner
After=network.target

[Service]
ExecStartPre=/bin/sleep 60
ExecStart=/usr/bin/hcitool lescan --passive --duplicates
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
