[Unit]
Description=Tilt Hydrometer
After=network.target

[Service]
ExecStart=/usr/local/bin/tilt_hydrometer -b http://log.brewfather.net/stream?id=abcdefghijkl123 -i 900 -m mqtt://192.0.2.1:1883 -p foo/bar/
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
